<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="TranslatorClientId" value="Fill in ClientID from https://datamarket.azure.com/dataset/bing/microsofttranslatorspeech"/>
    <add key="TranslatorClientSecret" value="Fill in Secret from https://datamarket.azure.com/dataset/bing/microsofttranslatorspeech"/>
  </appSettings>
</configuration>